<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to konmego.com, <%= @identity.name %></h1>
    <p>
      Please confirm your idenity by entering the validation code below in the Konmengo app to complete your registraiton.,
    </p>
    <p>
    Your validation code is: <br\>
    <%=@identity.reg_code%>
    </p>
  </body>
</html>
