<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%=@invite.first_name %>,  Welcome to konmego.com!</h1>
    
    <p>
      
    </p>
    <p>
      Please use the invite link below to signup and join the most personally empowering community on the web.
      <%=link_to "register", "#{CLIENT_BASE_URL}/signup?invite-token=#{@invite.id}"%>
    </p>
  </body>
</html>
